<configuration xmlns:p="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <hooks>
      <hook type="CacheCounters.CacheCountersHook, CacheCounters">
        <SampleInterval>500</SampleInterval>
        <SampleSize>true</SampleSize>
        <SampleCount>true</SampleCount>
        <SampleMaxSize>true</SampleMaxSize>
      </hook>
    </hooks>
  </sitecore>
</configuration>
